{% extends 'base.html.twig' %}

{% block title %}Liste de cours{% endblock %}

{% block body %}
{{ include('menu/menu.html.twig') }}
    <div class="container my-4">
        <h1 class="display-3 row d-flex justify-content-center">Liste des cours</h1>
        <div class="row w-50 mx-auto">
            <table class="table table-light table-striped table-hover">
                <thead>
                    <tr>
                        <th scope="col">Code du cours</th>
                        <th scope="col">Nom du cours</th>
                    </tr>
                </thead>
                <tbody>
                {% for course in courses %}
                    <tr>
                        <td>{{ course.code }}</td>
                        <td>{{ course.name }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
