{% extends 'base.html.twig' %}

{% block title %}Se connecter{% endblock %}

{% block body %}
    {{ include('menu/menu.html.twig') }}
    <div class="container-fluid mt-5">
        <div class="row justify-content-center">
            <h1 class="mb-4 text-center">Se Connecter</h1>
            <div class="col-xl-4 col-md-6">
                <form method="post" class="p-3">
                    {% if error %}
                        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                    {% endif %}

                    {% if app.user %}
                        <div class="mb-3">
                            You are logged in as {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Logout</a>
                        </div>
                    {% endif %}
                    <div class="form-outline mb-4">
                        <label for="inputUsername">Username</label>
                        <input type="text" value="{{ last_username }}" name="username" id="inputUsername" class="form-control" autocomplete="username" required autofocus>
                    </div>
                    <div class="form-outline mb-4">
                        <label for="inputPassword">Password</label>
                        <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>
                    </div>
                    <input type="hidden" name="_csrf_token"
                           value="{{ csrf_token('authenticate') }}"
                    >
                    <div class="d-flex justify-content-center m-3">
                        <a href="{{ path('app_register') }}" class="link-primary">Pas encore inscrit?</a>
                    </div>
                    <div class="d-grid gap-2">
                        <button class="btn btn-primary" type="submit">
                            Se connecter
                        </button>
                    </div>

                </form>
            </div>
{% endblock %}
