{% extends 'base.html.twig' %}

{% block title %}Profil de {{ profile.username }}{% endblock %}

{% block body %}
    {{ include('menu/menu.html.twig') }}
    <h1 class="display-3 d-flex justify-content-center mt-4">Profil de {{ profile.username }}</h1>
    <div class="row w-50 mx-auto py-2">
        <table class="table table-light table-striped table-hover">
            <thead>
                <tr>
                    <th scope="col">Intitulé</th>
                    <th scope="col">Valeur</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th>Id</th>
                    <td>{{ profile.id }}</td>
                </tr>
                <tr>
                    <th>Login</th>
                    <td>{{ profile.username }}</td>
                </tr>
                <tr>
                    <th>Email</th>
                    <td>{{ profile.email }}</td>
                </tr>
                <tr>
                    <th>Date de création</th>
                    <td>{{ profile.created|date('d/m/Y H:i:s', "Europe/Paris") }}</td>
                </tr>
                <tr>
                    <th>Date de la dernière connexion</th>
                    {% if profile.lastlogin %}
                        <td>{{ app.user.lastlogin|date('d/m/Y H:i:s', "Europe/Paris") }}</td>
                    {% else %}
                        <td>L'utilisateur ne s'est pas encore connecté</td>
                    {% endif %}
                </tr>
                <tr>
                    <th>Role</th>
                    {% if profile.role == 'ROLE_USER' %}
                        <td>Visiteur</td>
                    {% elseif profile.role == 'ROLE_ADMIN' %}
                        <td>Administrateur</td>
                    {% elseif profile.role == 'ROLE_STUDENT' %}
                        <td>Etudiant</td>
                    {% elseif profile.role == 'ROLE_PROF' %}
                        <td>Professeur</td>
                    {% endif %}
                </tr>
                <tr>
                    <th>Actions</th>
                    <td class="d-grid gap-2">
                        <form action="{{ path('userUpdate', { id: app.user.id }) }}" class="col m-1">
                            <button type="submit" class="btn btn-primary">Editer</button>
                        </form>
                        <form action="{{ path('userJsonExport', { id: app.user.id }) }}" class="col m-1">
                            <button type="submit" class="btn btn-info">Export JSON</button>
                        </form>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

{% endblock body %}