{% extends 'base.html.twig' %}

{% block title %}S'enregistrer{% endblock %}

{% block body %}
    {{ include('menu/menu.html.twig') }}
    <div class="container-fluid mt-5">
        <div class="row justify-content-center">
            <h1 class="mb-4 text-center">Inscription</h1>
            <div class="col-xl-4 col-md-6">
                {{ form_errors(registrationForm) }}

                {{ form_start(registrationForm) }}
                <div class="form-outline mb-4">
                    {{ form_label(registrationForm.username, 'Username') }}
                    {{ form_widget(registrationForm.username, {'attr': {'class': 'form-control form-outline'}}) }}
                    {{ form_errors(registrationForm.username) }}
                </div>
                <div class="form-outline mb-4">
                    {{ form_label(registrationForm.email, 'Adresse email') }}
                    {{ form_widget(registrationForm.email, {'attr': {'class': 'form-control form-outline'}}) }}
                    {{ form_errors(registrationForm.email) }}
                </div>
                <div class="form-outline mb-4">
                    {{ form_label(registrationForm.plainPassword, 'Password') }}
                    {{ form_widget(registrationForm.plainPassword, {'attr': {'class': 'form-control form-outline'}}) }}
                    {{ form_errors(registrationForm.plainPassword) }}
                </div>
                <div class="d-grid gap-2">
                    <button type="submit" class="btn btn-primary">Register</button>
                </div>
                {{ form_end(registrationForm) }}
            </div>
        </div>
    </div>
{% endblock %}
