{% for label, flashMessages in app.flashes() %}
    {% for message in flashMessages %}
        <div class="alert alert-{{ label }}">
            {{ message }}
        </div>
    {% endfor %}
{% endfor %}