{% extends 'base.html.twig' %}

{% block title %}Editer {{ app.user.username }}{% endblock %}

{% block body %}
    {{ include('menu/menu.html.twig') }}
    <div class="container-fluid my-4">
        <h1 class="display-3 d-flex justify-content-center my-4">Mise à jour du profil</h1>
        <div class="container d-flex justify-content-center">
            <div class="accordion w-75" id="accordion">
                <div class="accordion-item">
                    <h2 class="accordion-header">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                            Mettre à jour votre adresse email et/ou votre mot de passe
                        </button>
                    </h2>
                    <div id="collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordion">
                        <div class="accordion-body d-flex justify-content-center">
                            <form method="post" action="{{ path('userUpdate', { id: app.user.id }) }}">
                            {{ form_start(form, { attr: {novalidate: 'novalidate'} }) }}
                                <div class="mb-3">
                                    {{ form_label(form.email, 'Adresse email') }}
                                    {{ form_widget(form.email, {'attr': {'class': 'form-control form-outline'}}) }}
                                    {{ form_errors(form.email) }}
                                </div>
                                <div class="mb-3">
                                    {{ form_label(form.password, 'Nouveau mot de passe') }}
                                    {{ form_widget(form.password, {'attr': {'class': 'form-control form-outline'}}) }}
                                    {{ form_errors(form.password) }}
                                </div>

                                <button type="submit" class="btn btn-primary">Mettre à jour</button>
                            {{ form_end(form) }}
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
{% endblock %}