{% extends 'base.html.twig' %}

{% block body %}
    <header>
        <nav>
            <ul class="nav justify-content-center">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{{ path('app_home') }}">Accueil</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('courseList') }}">Liste des cours</a>
                </li>
                <li class="nav-item">
                    {% if is_granted("IS_AUTHENTICATED_FULLY") %}
                        <a class="nav-link" href="{{ path('userProfile', { 'id': app.user.id }) }}">Profil</a>
                    {% endif %}
                </li>
                <li class="nav-item">
                    {% if is_granted("ROLE_ADMIN") %}
                        <a class="nav-link" href="{{ path('userList') }}">Admin</a>
                    {% endif %}
                </li>
                <li class="nav-item">
                    {% if app.user %}
                        <a class="nav-link" href="{{ path('app_logout') }}">Logout</a>
                    {% else %}
                        <a class="nav-link" href="{{ path('app_login') }}">Login</a>
                    {% endif %}
                </li>
            </ul>
        </nav>
        {{ include('alert/alert.html.twig') }}
    </header>
{% endblock %}