{% extends 'base.html.twig' %}

{% block title %}Liste des utilisateurs{% endblock %}

{% block body %}
    {{ include('menu/menu.html.twig') }}
    <h1 class="display-3 d-flex justify-content-center my-4">Liste des Utilisateurs</h1>
    <div class="row w-50 mx-auto py-2">
        <table class="table table-light table-striped table-hover">
            <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Username</th>
                <th scope="col">Email</th>
                <th scope="col">Création</th>
                <th scope="col">Dernière Visite</th>
                <th scope="col">Role</th>
                <th scope="col">Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for user in users %}
                <tr>
                    <td>{{ user.id }}</td>
                    <td>{{ user.username }}</td>
                    <td>{{ user.email }}</td>
                    <td>{{ user.created|date('d/m/Y H:i:s', "Europe/Paris") }}</td>
                    {% if user.lastlogin %}
                        <td>{{ user.lastlogin|date('d/m/Y H:i:s', "Europe/Paris") }}</td>
                    {% else %}
                        <td>L'utilisateur ne s'est pas encore connecté</td>
                    {% endif %}
                    {% if user.role == 'ROLE_USER' %}
                        <td>Visiteur</td>
                    {% elseif user.role == 'ROLE_ADMIN' %}
                        <td>Administrateur</td>
                    {% elseif user.role == 'ROLE_STUDENT' %}
                        <td>Etudiant</td>
                    {% elseif user.role == 'ROLE_PROF' %}
                        <td>Professeur</td>
                    {% endif %}

                    <td>
                        <form action="{{ path('editUserRole', { id: user.id }) }}" class="col m-1">
                            <button type="submit" class="btn btn-primary">Modifier le rôle</button>
                        </form>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock body %}