{% extends 'base.html.twig' %}

{% block title %}Editer le role de l'utilisateur{% endblock %}

{% block body %}
    {{ include('menu/menu.html.twig') }}
    <h1 class="display-3 d-flex justify-content-center my-4">Mise à jour du rôle de {{ username }}</h1>
    <div class="container d-flex justify-content-center">
        <form method="post" action="{{ path('editUserRole', { id: app.request.get('id')} ) }}">
            {{ form_start(form) }}
            <div class="mb-3">
                {{ form_label(form.role, 'Role : ') }}
                {{ form_widget(form.role) }}
                {{ form_errors(form.role) }}
            </div>
            <div class="mb-3">
                {{ form_widget(form.save) }}
            </div>
            {{ form_end(form) }}
        </form>
    </div>
{% endblock %}